<!DOCTYPE html>
<html lang="en">
  <%- include('head') %>
  <body>
    <form class="dark mb-3 px-5" method="POST" action="/admin/addpkg_post">
      <div class="mb-3 px-5 pt-5">
        <div class="form-floating">
          <input type="text" class="form-control" id="name" name="pname" required />
          <label for="name" class="form-label">Package Name</label>
        </div>
      </div>
      <div class="mb-3 px-5">
        <div class="form-floating">
          <input type="text" class="form-control" id="location" name="plocation" required />
          <label for="location" class="form-label">Location</label>
        </div>
      </div>
      <div class="mb-3 px-5">
        <div class="form-floating">
          <input type="number" class="form-control" id="price" name="pprice" required />
          <label for="price" class="form-label">Price</label>
        </div>
      </div>

      <div class="mb-3 px-5">
        <div class="form-floating">
          <textarea
            class="form-control"
            id="Description"
            placeholder="Enter a Description"
            style="height: 10rem"
            name="pdesc"
            required
          ></textarea>
          <label for="Description" class="form-label"> Description</label>
        </div>
      </div>
      <div class="mb-3 px-5">
        <div class="form-floating">
          <input type="date" class="form-control" id="startDATE" name="pstartDate" required />
          <label for="startDATE" class="form-label">Start</label>
        </div>
      </div>
      <div class="mb-3 px-5">
        <div class="form-floating">
          <input type="date" class="form-control" id="endDATE" name="pendDate" required />
          <label for="endDATE" class="form-label">End</label>
        </div>
      </div>

      <input type="submit" class="btn px-5 py-2 mx-5 my-2 btn-primary" value="Submit">
        
    </input>
    </form>
  </body>
</html>
