<!DOCTYPE html>
<html lang="en">
  <%- include('head') %>
<head><script async src="/js/admin_js/editpackage.js"></script></head>
  <body>
    <form class="dark mb-3 px-5">
      <div class="input-group mb-3 px-5">
        <label class="input-group-text" for="inputGroupSelect01">Package</label>
        <select class="form-select" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option value="1">Cairo Tours</option>
          <option value="2">Pyramid Tours</option>
          <option value="3">Luxor Tours</option>
          <option value="4">Alexandria Tours</option>
          <option value="5">Luxor Tours</option>
        </select>
      </div>

      <div class="input-group mb-3 px-5">
        <input
          type="number"
          class="form-control ps-2"
          id="price"
          placeholder="Price"
          required
        />
        <button
          class="btn btn-outline-secondary"
          type="button"
          id="button-price"
          onclick="changeRequire('price','button-price')"
        >
          Check Price
        </button>
      </div>
      <div class="input-group mb-3 px-5">
        <input
          type="text"
          class="form-control ps-2"
          id="descr"
          placeholder="Description"
          required
        />
        <button
          class="btn btn-outline-secondary"
          type="button"
          id="button-desc"
          onclick="changeRequire('descr','button-desc')"
        >
          Check Desc
        </button>
      </div>
      <div class="input-group mb-3 px-5">
        <input
          type="date"
          class="form-control ps-2"
          id="startDate"
          placeholder="Starting Date"
          required
        />
        <button
          class="btn btn-outline-secondary"
          type="button"
          id="button-start"
          onclick="changeRequire('startDate','button-start')"
        >
          Check Start Date
        </button>
      </div>
      <div class="input-group mb-3 px-5">
        <input
          type="date"
          class="form-control ps-2"
          id="endDate"
          placeholder="Ending Date"
          required
        />
        <button
          class="btn btn-outline-secondary"
          type="button"
          id="button-end"
          onclick="changeRequire('endDate','button-end')"
        >
          Check End Date
        </button>
      </div>

      <button type="submit" class="btn px-5 py-2 mx-5 my-2 btn-primary" value="Submit">
        Submit
      </button>
    </form>

  </body>
</html>
