<!DOCTYPE html>
<html lang="en">
 <%- include('partials/head') %>
  </head>
<head><script async src="/js/admin_js/editpackage.js"></script></head>

  <body>
    <%- include('partials/nav') %>
    <section id="select">
      <div class="container-md">
        <div class="row gx-5 ">
          <div class="col  py-5">
            <h3 class="border-bottom text-center py-2">Select the operation</h3>
            <div class="py-3"></div>
            <!-- select what u want here -->
           
            <div class="btn-group-vertical ps-3 d-flex justify-content-center" role="group">
              <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio1"  onclick="addPKG() ">
              <label class="btn btn-outline-danger" for="vbtn-radio1">Add Package</label>
              <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio2"  onclick="editPKG()">
              <label class="btn btn-outline-danger" for="vbtn-radio2">Edit Package</label>
              <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio3"  onclick="removePKG()">
              <label class="btn btn-outline-danger" for="vbtn-radio3">Remove Package</label>
            </div>














          </div>

          <div class="col  py-5">
            <!-- iframe here -->
<div class="py-3"></div>
<div class="ratio ratio-1x1">

<iframe frameborder="2" id="frame"  title="myframe" allowfullscreen></iframe>
</div>

          </div>
        </div>
      </div>
    </section>

 
  </body>
</html>
