<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Alex Library</title>
<link rel="stylesheet" href="..\public\css\alex.css">
 </head>
 
 <body>

    <div class="container">
      <img class="image" src="https://english.ahram.org.eg/Media/News/2014/3/13/2014-635303409753159476-315.jpg">
      <div class="text-overlay">
        Alex Library Trip
      </div>
    </div>

    <a class="hyperlink" href="..\pages\bookingForm.html">click here to book your alex trip</a>

   
    </body>