<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>
<head>
  <script defer src="/js/main/arrow.js"></script>
</head>

<body id="top">

  <!-- 
    - #HEADER
  -->
<%- include('partials/navbar') %>

  <main>
    <article>
 <section class="hero" id="home">
  <div class="container">
    <%- include('partials/video') %>
    <h2 class="h1 hero-title">Journey to explore egypt</h2>
    <p class="hero-text">
      Welcome to Egypt Explore Hub, your gateway to unforgettable adventures in the land of ancient wonders. Embark on a journey like no other, guided by experienced experts who are passionate about showcasing the best of Egypt's treasures. Start your adventure today!
    </p>
    
    <div class="btn-group">
      
      <a class="btn btn-secondary" href="#packages"> Book<a>

    </div>
  </div>
</section>












    </article>
  </main>





  <!-- 
    - #GO TO TOP
  -->

  <a href="#top" class="go-top" data-go-top>
    <ion-icon name="chevron-up-outline"></ion-icon>
  </a>
  <!-- WHY TOURIST EGYPT TOURS " why you choose us "-->



 <!-- footer section starts here  -->
  <%- include('partials/footer') %>
<!-- footer section ends here  -->

  <!-- 
    - custom js link
  -->


  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<script>
    'use strict';

/**
 * navbar togglep
 */

// const overlay = document.querySelector("[data-overlay]");
// const navOpenBtn = document.querySelector("[data-nav-open-btn]");
// const navbar = document.querySelector("[data-navbar]");
// const navCloseBtn = document.querySelector("[data-nav-close-btn]");
// const navLinks = document.querySelectorAll("[data-nav-link]");

// const navElemArr = [navOpenBtn, navCloseBtn, overlay];

// const navToggleEvent = function (elem) {
//   for (let i = 0; i < elem.length; i++) {
//     elem[i].addEventListener("click", function () {
//       navbar.classList.toggle("active");
//       overlay.classList.toggle("active");
//     });
//   }
// }

// navToggleEvent(navElemArr);
// navToggleEvent(navLinks);



/**
 * header sticky & go to top
 */

const header = document.querySelector("[data-header]");
const goTopBtn = document.querySelector("[data-go-top]");

window.addEventListener("scroll", function () {

  if (window.scrollY >= 200) {
    header.classList.add("active");
    goTopBtn.classList.add("active");
  } else {
    header.classList.remove("active");
    goTopBtn.classList.remove("active");
  }

});
</script>

<script  src="js/main/navbar.js" ></script>
</body>

</html>