<li>
  <div class="popular-card">

    <figure class="card-img">
      <a href="/alex"> <img src="https://english.ahram.org.eg/Media/News/2014/3/13/2014-635303409753159476-315.jpg" alt="alex library" >
      </a></figure>

    <div class="card-content">

      <div class="card-rating">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
      </div>

      <p class="card-subtitle">
        <a href="#">Egypt</a>
      </p>

      <h3 class="h3 card-title">
        <a href="#">Alex Library</a>
      </h3>

      <p class="card-text">
        The Alexandria Library , a beacon of knowledge and culture, serves as a testament to Egypt's rich intellectual heritage, offering a wealth of resources and fostering scholarly pursuits in a contemporary setting.
      </p>

    </div>

  </div>
</li>
