<link rel="stylesheet" href="/public/css/main/style.css">

<footer>
    <section class="footer" id="footer">
        <div class="container">
            <div class="detail">
                <h3>EgyptExploreHub</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere in, non praesentium soluta quis enim aperiam aliquam, rem totam porro, vel obcaecati modi architecto error maiores iusto quaerat aut eum.</p>
                <h5>get in touch</h5>
                <a href="#">example@mail.com</a>
                <div class="social">
                    <a href="#"><i class="fa fa-linkedin-square"></i></a>
                    <a href="#"><i class="fa fa-facebook-square"></i></a>
                    <a href="#"><i class="fa fa-twitter-square"></i></a>
                </div>
            </div>
            <div class="about-us">
                <h4><a href="/#about">About us</a></h4>
                <li><a href="/#about">About us</a></li>
                
                <li><a href="#">Mission and values</a></li>
                <li><a href="#">Partnerships</a></li>
            </div>
            <div class="about-us">
                <h4>help</h4>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Booking guide</a></li>
                <li><a href="#">Cancellation policy</a></li>
            
            </div>
            <div class="about-us">
                <h4>Resources</h4>
                <li><a href="#">Newsletter</a></li>
                
                <li><a href="#">Gallery</li>
                <li><a href="/#daily-tours">Offers</a></li>
            </div>
        </div>
  
        <div class="copyright">
            <div>
                &copy;2024 - EgyptExploreHub, all rights reserved
            </div>
            <div>
                <a href="#">term & conditions</a>
                <a href="#">privacy policy</a>
            </div>
        </div>
    </section>
  </footer>