<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head') %>
<body class="bg-gray">
  <form class="dark mb-3 p-3  " id="removeClient">
    <div class="input-group mb-3 px-5">
        <label class="input-group-text" for="inputGroupSelect01">Client</label>
        <select class="form-select" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option value="1">Salma</option>
          <option value="2">Fatma</option>
          <option value="3">Hassan</option>
          <option value="4">Youssef</option>
          <option value="5">Zeyad</option>
        </select>
      </div>
  

  <button type="submit" class="btn px-5 py-2 mx-5 my-2 btn-danger" >
    Delete
  </button> 
</form>
</body>
</html>