
svg{
width: 5ch;
height: 5ch;
display: flex;
padding-bottom: 1ch;
margin:auto;

}

.charts{
padding: 2rem;


}
.head-graph-cont{

transform: translate(0em,3rem);
margin-bottom: 1rem;

}
.chart-head{
  color: #fb923c;
position: absolute;
transform: translate(3.4em,-2.4em);
font-family: Arial, Helvetica, sans-serif;
text-transform: uppercase;
font-size: 1.4rem;
text-align: center;
border-bottom: 2px solid #fafafa;
font-weight: lighter;

}

.actual-chart{
  
  width: 21rem;

}

