<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/head') %>
  <body class="bg-gray">



    <form class="dark mb-3 px-5 needs-validation"    id="addpk" novalidate>

      <div class="mb-3 px-5 pt-5">
        <div class="form-floating">
          <input type="text" class="form-control" id="name" name="pname" required />
          <label for="name" class="form-label">Package Name</label>
          <div id="name_succ" class="valid-tooltip " > Looks good!</div>
          <div id="name_error" class="invalid-tooltip" > Add a name</div>
        </div>
      </div>
      <div class="mb-3 px-5">
        <div class="form-floating">
          <input type="text" class="form-control" id="location" name="plocation" required />
          <label for="location" class="form-label">Location</label>
          <div id="location_succ" class="valid-tooltip" > Looks good!</div>
          <div id="location_error" class="invalid-tooltip" > Add a location</div>
        </div>
      </div>
      <div class="mb-3 px-5">
        <div class="form-floating">
          <input type="number" class="form-control" id="price" name="pprice" required />
          <label for="price" class="form-label">Price</label>
          <div id="price_succ" class="valid-tooltip" > Looks good</div>
          <div id="price_error" class="invalid-tooltip" ></div>
        </div>
      </div>

      <div class="mb-3 px-5">
        <div class="form-floating">
          <textarea
            class="form-control"
            id="Description"
            placeholder="Enter a Description"
            style="height: 10rem"
            name="pdesc"
            required
          ></textarea>
          <label for="Description" class="form-label"> Description</label>
          <div id="description_succ" class="valid-tooltip" > Looks good</div>
          <div id="description_error" class="invalid-tooltip" > Add a descrption</div>
        </div>
      </div>
      <div class="mb-3 px-5">
        <div class="form-floating">
          <input type="date" class="form-control" id="startDATE" name="pstartDate" required />
          <label for="startDATE" class="form-label">Start</label>
          <div id="startAt_succ" class="valid-tooltip" > Looks good</div>
          <div id="startAt_error" class="invalid-tooltip" > Add a starting date</div>
        </div>
      </div>
      <div class="mb-3 px-5">
        <div class="form-floating">
          <input type="date" class="form-control" id="endDATE" name="pendDate" required />
          <label for="endDATE" class="form-label">End</label>
          <div id="endAt_succ" class="valid-tooltip" > Looks good</div>
          <div id="endAt_error" class="invalid-tooltip" > Add an ending date</div>
        </div>
      </div>
      <div class="mb-3 px-5">
        <div class="form-floating">
          <input type="number" class="form-control" id="capacity" name="capcity" required />
          <label for="capacity" class="form-label">Capcity</label>
          <div id="capacity_succ" class="valid-tooltip" > Looks good</div>
          <div id="capacity_error" class="invalid-tooltip" > Add a capacity</div>
        </div>
      </div>
      <input type="submit" class="btn px-5 py-2 mx-5 my-2 btn-primary" value="Submit">
        
    </input>
    </form>
    
    <script 
    src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.MAPS %>&loading=async&libraries=places&callback=initAutocomplete">
  </script>
  <script  src="/js/admin_js/addpkg_map.js"></script>

  </body>
</html>
