<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/head') %>
  <body class="bg-gray">
    <form class="dark mb-3 px-5">
        <div class="input-group mb-3 px-5">
            <label class="input-group-text" for="inputGroupSelect01">Package</label>
            <select class="form-select" id="inputGroupSelect01">
              <option selected>Choose...</option>
              <option value="1">Cairo Tours</option>
              <option value="2">Pyramid Tours</option>
              <option value="3">Luxor Tours</option>
              <option value="4">Alexandria Tours</option>
              <option value="5">Luxor Tours</option>
            </select>
          </div>
      

      <button type="submit" class="btn px-5 py-2 mx-5 my-2 btn-danger  ">
        Delete✖
      </button> 
    </form>

   
  </body>
</html>
