<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/head') %>
  <body class="bg-gray">
    <form class="dark mb-3 px-5" id="deletePackageForm">
      <div class="input-group mb-3 px-5">
        <label class="input-group-text" for="inputGroupSelect01">Package</label>
        <select class="form-select" id="packageSelect">
          <option selected>Choose...</option>
          <% packs.forEach(element => { %>
            <option value="<%= element.id %>"> <%= element.name %> </option>
          <% }) %>
        </select>
      </div>
      <button type="submit" class="btn px-5 py-2 mx-5 my-2 btn-danger">
        Delete✖
      </button>
    </form>

    <script src="/public/js/admin_js/deletepkg.js"></script>
  </body>
</html>
